CHATBOT_PORT=5001
OLLAMA_BASE_URL=http://localhost:11434
CHATBOT_MODEL=gemma3:4b
CHATBOT_EMBEDDING_MODEL=nomic-embed-text
CHATBOT_CHROMA_PATH=./data/Chroma_DB_Skin_v6
CHATBOT_INGREDIENT_PATH=./data/ingredient_dictionary_100.xlsx
